<% content_for :custom_layout do %>
  <div class="cards-container content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <header class="row card-header">
            <div class="col-sm-12">
              <div style="text-align:right;">Not in the list?&nbsp;<%= link_to 'Continue to Signup', new_provider_signup_path, rel: "nofollow" %>.</div>
            </div>
          </header>
          <article class="row in-filter-list">
            <input id="in-filter-list-input" type="text" placeholder="Select your hospital or group" class='form-control input-md in-filter-list-input'/>
            <ul class="in-filter-list-results list-group">
              <% idx = 0 %>
              <% @available_teams.each do |t| %>
                <% if t.signup_flow_active? %>
                  <li class="js-result in-filter-list-item" id="team_<%=t.id%>">
                    <label class="list-group-item" style='font-size: 14px;color: #545454;font-weight: bold;'><%= link_to "/#{t.signup_url_path}", id: "team_#{t.id}_signup_url_path", class: "" do %><h4>
                        <%= image_tag t.logo.url(:small), style: 'margin-bottom:10px;', id: 't-logo' if t.logo.present? %> <%= t.name %></h4>
                        <% idx = idx+1 %>
                    <% end %></label>
                  </li>
                <% end %>
              <% end %>
              <div class="js-no-results in-filter-list-item" style='display:none;'></li>
            </ul>
            <span class="js-items-count" style='display:none;'><%=idx%></span>
          </article>

        </div>
      </div>
    </div>
  </div>
<% end %>
