<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h3>
      Invite a New User
      <div class="pull-right">
        <%= link_to "Invite Waitlisted Users", new_batch_invitation_path, class: "btn btn-default" %>
      </div>
    </h3>
<%= simple_form_for @invitation, url: invitation_path do |f| %>
      <%= f.input :email %>
      <%= f.input :invitation_type, label:'Invitation Type',collection: invitation_types %>
      <%= f.button :submit, I18n.t("invitation.submit"), class: "btn-primary" %>
    <% end %>
  </div>
</div>