<div class="row">
  <h3>Billing Information</h3>
  <%= simple_form_for @payment_account, url: payment_account_path do |f| %>
    <br/><br/>
    <fieldset>
      <legend>Subscription</legend>
      <%- if @payment_account.trialing? %>
        <div class="alert alert-info">
          <%= "Your free trial expires on #{I18n.l(@payment_account.trial_expires_at)}." %>
        </div>
      <% end %>
      <%= f.association :plan, as: :radio_buttons, collection: @plans, label_method: :pretty_description, boolean_style: :inline %>
      <%= f.input :coupon_code %>
    </fieldset>
    <br/><br/>
    <fieldset>
      <legend>Payment Method</legend>
      <br/>
      <div class="">
        <label class="">
          <strong>Current card:</strong> <%= "Ending in #{@payment_account.pretty_last_four_digits}" %>
        </label>
      </div>
      <br/>
      <%- if @payment_account.stripe_card_token %>
             <!-- You are updating your credit card. -->
             <!-- Your new card has already been provided. -->
          <%= f.error :billing %>
          <%= f.hidden_field :stripe_card_token %>
          <%= f.hidden_field :last_four_digits %>
      <%- else %>
        <div class="read-only">
           <i>You may optionally update your current credit card below</i>
        </div>
        <br/>
        <%= render partial: 'shared/credit_card_fields', locals: { f: f } %>
      <% end %>
    </fieldset>
    <br/><br/>
    <div class="form-actions">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", edit_my_profile_path, class: "btn" %>
    </div>

  <% end %>
</div>
