<!-- /RESPONSE DOCUMENT -->
<%= render 'shared/profile'%>

<div class="inquiry-item card" style="margin-bottom: 30px;">
  <div class="card-content">
    <%= simple_form_for @inquiry, url: my_inquiries_path, html: { class: "",multipart: true } do |f| %>
        <%= f.error :billing %>
        <%= f.input :question ,label: '<span id="label-question">New Inquiry</span>&nbsp;&nbsp;<i class="fa fa-question-circle" id="q-circle"></i>'.html_safe, required: true, input_html: {
        class: "input-block-level", rows: 5 } %>
        <% unless current_user.private_labeled_user? %>
        <div style="margin-bottom:10px;">   
          Pharmacy and Therapeutics (P&T) Request&nbsp;<i class="fa pt fa-question-circle"></i><a data-toggle="collapse" href="#collapse1">&nbsp;Click here.</a></div>
      <div id="collapse1" class="panel-collapse collapse">
        <%= f.input :project_types, label: 'P&T'.html_safe, required: false, include_blank: false %>
        <label class="control-label">Upload P&T Documents</label>
         <input type="file" id="document_file" name="document[file]" />
         <br>
         </div>
        <% end%>
        <div id='turnaround-time-section'>
          <%= f.input :turnaround_time, label: 'Turnaround Time', required: true, include_blank: false %>
        </div>
        <div  id='turnaround-disclaimers'>
         
        <p id="asap-disclaimers" class="alert alert-block alert-info" style="display:none;margin:5px;"> <%= I18n.t("inquiries.disclaimers.turnaround_time.asap") %></p>
        </div>
      <br/>
      <div class="form-actions">
        <%= f.button :submit, "Submit", class: "btn btn-primary" %>&nbsp;
      </div>
    <% end %>
  </div>

</div>



<script>
$(() => $('#modalProfile').modal({show: <%= !!flash[:first_login] %>}));

$(document).ready(function(){
  var label_question_html = $('#label-question').text()

  $("#inquiry_turnaround_time").find('option[value=a_few_days], option[value=a_week]').remove(); // https://github.com/InpharmD/inpharmd/issues/569

  if (!!$.prototype.tooltip) {
    $('#q-circle').tooltip({
      title: "Ask us any health-related question, and if there’s evidence available, we’ll find it for you. \
      The more specific, the better.",
      placement: 'right'
    });

    $('.fa.pt').tooltip({
      title: "Ask us to help with any of your formulary management needs. The more specific your description, the better.",
      placement: 'right'
    });
  }

  $("#inquiry_turnaround_time").change(function() {
    if ($(this).val()==='asap') {
      $('#asap-disclaimers').show();
    } else {
      $('#asap-disclaimers').hide();
    }
  }); 


  $("#inquiry_project_types").change(function() {
    if ($(this).val()!='none') {
      $('#turnaround-time-section').hide();
      $("#inquiry_turnaround_time").val('not_urgent');
      $('#label-question').text($('#inquiry_project_types :selected').text());
      $('#q-circle').hide();
    } else {
      $('#turnaround-time-section').show();
      $('#label-question').html(label_question_html);
      $('#q-circle').show();
    }
  

   }); 

});
</script>
